<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        https://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--    this is our bean   -->
    <bean class="org.example.Student" name="student1">
        <property name="studentId">
            <value>123</value>
        </property>

        <property name="studentName">
            <value>John Cena</value>
        </property>

        <property name="studentAddress">
            <value>chicago</value>
        </property>
    </bean>
</beans>